.keyContainer {
   margin: 0.2rem 450px 0;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
   gap: .5rem;
}

.key {
   cursor: pointer;
   color: black;
   width: 100%;
   font-size: 2.3rem;
   font-weight: bold;
   aspect-ratio: 1 / 1;
   text-transform: uppercase;
   background-color: white;
   border: 2px solid #333;
   border-radius: 5px;
   box-shadow: 3px 3px black;
}

.key:hover:not(:disabled),
.key:focus:not(:disabled) {
   background-color: aquamarine;
}

.key.active {
   background-color: rgb(6, 59, 94);
   color: white;
}

.key.inactive {
   opacity: .3;
}